
  .con {
    position: relative;
    height: 60vh;
    /*height: 80vh;*/
    /* height: 100vh; */
    /*background: url("/images/banner_cd.png") center center no-repeat;*/
    /*background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/537051/image.jpg") center center no-repeat;*/
    background-size: cover;
    overflow: hidden;
  }
  .con__slide {
    /*position: absolute;*/
    width: 100%;
    height: 100%;
    left: 0;
  }
  .con__slide-h {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
    /*font-size: 45px;*/
  }
  .con__slide-top, .con__slide-bot {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
  }
  .con__slide-top {
    top: -200px;
    left: -835px;
    height: 1235px;
    width: 550px;
    transform: rotate(25deg);
    transition: transform 650ms 1000ms;
  }
  .con__slide-top-inner {
    position: fixed;
    top: -59px;
    right: -175px;
    width: 100%;
    height: 500px;
    transform: rotate(20deg);
    overflow: hidden;
  }
  .con__slide-top-inner-text {
    position: absolute;
    right: 21px;
    top: 649px;
    transform: rotate(-45deg);
    transition: transform 1000ms;
  }
  .con__slide-bot {
    top: -50px;
    left: -884px;
    width: 700px;
    height: 1700px;
    transform: rotate(-45deg);
    /*overflow: hidden;*/
    transition: transform 1000ms 1100ms;
  }
  .con__slide-bot-text {
    position: absolute;
      right: -374px;
      top: 410px;
    /*right: -440px;*/
    /*top: 430px;*/
    transform: rotate(45deg);
    transition: transform 1000ms;
  }
  .con__slide--1-top-h {
    text-shadow: 0 0 1px #c43838;
    color: #c43838;
  }
  .con__slide--1-bot-h {
    text-shadow: 0 0 1px #fff;
    color: #fff;
  }
  .con__slide--1-content {
    position: absolute;
    right: 140px;
    /*right: 300px;*/
    top: 50%;
    transform: translateY(-55%);
    opacity: 0;
    transition: transform 1000ms, opacity 1000ms;
  }
  .con__slide--right-content-image{
      width: 273px;
      /*width: 300px;*/
  }
  .con__slide--border-content {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-55%);
    opacity: 0;
    transition: transform 1000ms, opacity 1000ms;
  }
  .con__slide--right-content-image-border {
      width: 70%;
      float: right;
  }
  @media screen and (max-width: 1350px) {
    .con__slide--1-content {
      right: 15%;
    }
      .con__slide--border-content {
      right: 15%;
    }
  }
  @media screen and (max-width: 1160px) {
    .con__slide--1-content {
      right: 5%;
    }
      .con__slide--border-content {
      right: 5%;
    }
  }
  .con__slide--1-content-logo {
    fill: #e5e5e5;
  }
  @media screen and (max-height: 730px) {
    .con__slide--1-content-logo {
      width: 300px;
    }
  }
  @media screen and (max-width: 1350px) {
    .con__slide--1-content-logo {
      width: 300px;
    }
  }
  .con__slide--right-top {
    left: initial;
    right: -195px;
    right: -780px;
    transform: rotate(-25deg);
    transition: transform 650ms 1000ms;
  }
  .con__slide--right-top-inner {
    top: -31px;
    left: -249px;
    transform: rotate(-20deg);
    overflow: overflow;
  }
  .con__slide--right-top-inner-text {
    right: 10px;
    top: 620px;
    transform: rotate(45deg);
    -webkit-animation: initial;
            animation: initial;
    transition: transform 1000ms 0s;
  }
  .con__slide--right-top-h {
    width: 450px;
    text-shadow: 0 0 1px #2d48e2;
    color: #2d48e2;
  }
  .con__slide--right-bot {
    left: initial;
    right: -84px;
    right: -884px;
    transform: rotate(45deg);
    -webkit-animation: initial;
            animation: initial;
    overflow: hidden;
    transition: transform 1000ms 1100ms;
  }
  .con__slide--right-bot-text {
    left: -560px;
    top: 150px;
    transform: rotate(-45deg);
    -webkit-animation: initial;
            animation: initial;
    transition: transform 1000ms 0s;
  }
  .con__slide--right-bot-h {
    text-shadow: 0 0 1px #fff;
    color: #fff;
  }
  .con__slide--right-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-95%, -45%);
    opacity: 0;
    transition: transform 1400ms 0s, opacity 1400ms 0s, z-index 0s 2.2s;
    z-index: -9999;
  }
  @media screen and (max-height: 730px) {
    .con__slide--right-content-image {
      width: 80%;
    }
      .con__slide--right-content-image-border {
      width: 80%;
    }
  }
  @media screen and (max-width: 1366px) {
    .con__slide--right-content-image {
      width: 80%;
    }
      .con__slide--right-content-image-border {
      width: 80%;
    }
  }
  .con__slide--3-top-h {
    text-shadow: 0 0 1px #e0bb28;
    color: #e0bb28;
  }
  .con__slide--3-bot-h {
    text-shadow: 0 0 1px #fff;
    color: #fff;
  }
  .con__slide--3-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-45%);
    opacity: 0;
    transition: transform 1400ms 0s, opacity 1400ms 0s, z-index 0s 2.2s;
  }
  @media screen and (max-width: 1366px) {
    .con__slide--3-content {
      left: 60%;
    }
  }
  .con__slide--3-content-image {
    width: 500px;
  }
  @media screen and (max-height: 730px) {
    .con__slide--3-content-image {
      width: 400px;
    }
  }
  @media screen and (max-width: 1366px) {
    .con__slide--3-content-image {
      width: 400px;
    }
  }
  .con__slide--4-top-h-link {
    position: relative;
    text-decoration: none;
    text-shadow: 0 0 1px #3ee84f;
    color: #3ee84f;
  }
  .con__slide--4-bot-h-link {
    text-decoration: none;
    text-shadow: 0 0 1px #fff;
    color: #fff;
    z-index: 20;
  }
  .con__nav {
    position: absolute;
    /* position: fixed; */
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
  }
  .con__nav-list {
    list-style-type: none;
  }
  .con__nav-item {
    display: inline-block;
    position: relative;
    margin-left: 8px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #e5e5e5;
    cursor: pointer;
  }
  .con__nav-item:after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0, 0);
    width: 75%;
    height: 75%;
    border-radius: 50%;
    background: #e5e5e5;
    transition: 300ms;
    opacity: 0;
    overflow: hidden;
  }
  .con__nav-item:hover:after {
    transform: translate(-50%, -50%) scale(1, 1);
    opacity: 1;
  }
  .con__nav-item--1 {
    margin-left: 0;
  }
  .con__nav-scroll {
    position: absolute;
    top: 1px;
    transform: rotate(-45deg);
    width: 17px;
    height: 17px;
    border: 2px solid #e5e5e5;
    border-right: transparent;
    border-bottom: transparent;
    cursor: pointer;
    transition: 300ms;
  }
  .con__nav-scroll:hover {
    transform: rotate(-45deg) scale(1.2, 1.2);
  }
  .con__nav-scroll--goup {
    left: -20px;
  }
  .con__nav-scroll--godown {
    transform: rotate(-225deg);
    right: -20px;
  }
  .con__nav-scroll--godown:hover {
    transform: rotate(-225deg) scale(1.2, 1.2);
  }

  .nav-active:after {
    transform: translate(-50%, -50%) scale(1, 1);
    opacity: 1;
  }

  .active .active-slide-left-top {
    transform: translate(640px, 0) rotate(25deg);
    transition: transform 650ms cubic-bezier(0, 0, 0.21, 1.02);
  }
  .active .active-slide-left-bot {
    transform: translateX(800px) rotate(-45deg);
    transition: transform 1000ms 350ms;
  }
  .active .active-slide-left-content {
    transform: translateY(-50%);
    opacity: 1;
    transition: transform 1000ms 1350ms, opacity 1000ms 1350ms;
  }
  .active .active-slide-right-top {
    transform: translateX(-585px) rotate(-25deg);
    transition: transform 650ms;
  }
  .active .active-slide-right-bot {
    transform: translateX(-800px) rotate(45deg);
    transition-delay: 350ms;
  }
  .active .active-slide-right-content {
    transform: translate(-95%, -50%);
    opacity: 1;
    z-index: 10;
    transition: transform 1400ms 1350ms, opacity 1400ms 1350ms, z-index 0s 1s;
  }
  .active .active-slide1-top-text {
    transform: translate(75px, -282px) rotate(-45deg);
    transition: transform 1000ms 1350ms;
  }
  .active .active-slide1-bot-text {
    transform: translate(-117px, 31px) rotate(45deg);
    transition: transform 1000ms 1350ms;
  }
  .active .active-slide2-top-text {
    transform: translate(-43px, -219px) rotate(45deg);
    transition-delay: 1350ms;
  }
  .active .active-slide2-bot-text {
    transform: translate(127px, -116px) rotate(-45deg);
    transition-delay: 1350ms;
  }
  .active .active-slide3-top-text {
    transform: translate(54px, -241px) rotate(-45deg);
    transition: transform 1000ms 1350ms;
  }
  .active .active-slide3-bot-text {
    transform: translate(-190px, 43px) rotate(45deg);
    transition: transform 1000ms 1350ms;
  }
  .active .active-slide4-top-text {
    transform: translate(-55px, -231px) rotate(45deg);
    transition: transform 1000ms 1350ms;
  }
  .active .active-slide4-bot-text {
    transform: translate(127px, -116px) rotate(-45deg);
    transition: transform 1000ms 1350ms;
  }

  /*collapse*/
  .sidebarCollapsed {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 999;
      top: 0;
      right: 0;
      background-color: #363c43;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
  }

  .sidebarCollapsed .closebtn,
  .sidebarCollapsed .btn-favorite {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
  }

  .sidebarCollapsed .closebtn:hover,
  .sidebarCollapsed .btn-favorite:hover {
      color: #f1f1f1;
  }

  .sidebarCollapsed .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
  }

  .collapsed_list {
      padding: 5px 10px;
  }
  .d-flex.justify-content-between.align-items-center {
      justify-content: space-between !important;
      align-items: center !important;
      display: flex !important;
  }

  #camArtTraLink iframe {
      width: 455px;
  }

  .startCollapse {
      padding: 0 0 100px 0;
  }

  span.btn.btn-xs.white {
      margin-bottom: 10px;
  }

  .campaignTag{
      margin-bottom: 10px;
  }

  .campaignBtn {
      text-align: center;
      margin-top: 15px;
      border-top: 1px solid #4a5158 !important;
  }

  .campaign_btn {
      margin-top: 20px;
      border-color: #02b875 !important;
      background-color: #1f1f25 !important;
      color: white !important;
      text-align: center !important;
      padding: 10px 1.5rem 10px 1.5rem !important;
      white-space: nowrap !important;
      vertical-align: middle !important;
      box-shadow: inset 0 0 1px rgb(0 0 0 / 30%) !important;
      border-radius: 500px !important;
      margin-left: 10px!important;
  }

  .campaignBtn {
      text-align: center;
      margin-top: 15px;
  }


  .mySidebarCollapsed{
      width: 490px;
  }
  .mySidebarCollapsedRemove{
      width: 0;
  }
  #curatorBanner{
      background-size: 100% !important;
  }

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
      .sidebarCollapsed {padding-top: 15px;}
      .sidebarCollapsed .closebtn {font-size: 18px;}
      /*.sidebarCollapsed*/
      /*{*/
      /*    width: 475px;*/
      /*}*/
  }

  @media (min-width: 768px) and (max-width: 1024px) {

      /* CSS */
      .collapsed_list {
          padding: 25px 10px;
      }
      .sidebarCollapsed .closebtn {
          top: 38px;
          right: 3px;
      }
  }

  @media (min-width: 481px) and (max-width: 767px) {

      /* CSS */
      .collapsed_list {
          padding: 25px 10px;
      }
      .sidebarCollapsed .closebtn {
          top: 38px;
          right: 3px;
      }
      #curatorBanner{
          background-size: cover !important;;
      }
      .con__slide-bot-text {
          right: -390px;
          top: 230px;
          display: inline-block;
      }
      .con__slide-h {
          display: inherit;
          font-size: 35px;
      }
      .con__slide--border-content {
          right: 15%;
          display: inline-block;
          margin-left: 50px;
      }
      .con__slide--right-content-image-border {
          width: 80%;
          display: block;
          margin: 0 auto;
      }
      .con__slide--right-content-image-border {
          float: inherit;
      }
      .con__slide--1-content {
          right: 3px;
      }
      .con__slide--right-content-image {
          width: 50%;
          margin: 0 auto;
          display: block;
      }
  }

  @media (min-width: 320px) and (max-width: 480px) {

      /* CSS */
      .collapsed_list {
          padding: 40px 26px;
      }
      .sidebarCollapsed .closebtn {
          top: 40px;
      }
      .mySidebarCollapsed{
          width: -webkit-fill-available;
      }
      .mySidebarCollapsedRemove{
          width: 0;
      }
      #camArtTraLink iframe {
          width: 290px !important;
      }
      .con__slide-bot {
          top: -135px;
          left: -1102px;
      }
      .con__slide-h {
          font-size: 30px;
      }
      .con__slide--border-content {
          right: 15%;
      }
      .con__slide--1-content {
          right: 12%;
      }
      #curatorBanner{
          background-size: cover !important;;
      }
      .con__slide--1-content {
          right: -70px;
      }
      .con__slide--right-content-image {
          width: 33%;
          margin: 0 auto;
          display: block;
      }
  }
  /*collapse*/


  #nameFlag{
      display:inline-block;
  }
  .flag_icon {
      margin-right: 5px;
      width: 20px !important;
      height: 15px !important;
  }
