.brand-animate {
    -webkit-animation: rotate 1s infinite linear;
    animation: rotate 1s infinite linear;

    transform-origin: 24px 24px;
    -webkit-transform-origin: 24px 24px;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-transition: all 0.3s ease-in-out;
  	transition: all 0.3s ease-in-out;

    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

.pace-running .brand-animate{
    -webkit-animation-play-state: running;
    animation-play-state: running;
}

.pace-done .brand-animate{
    opacity: 0;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #02b875;
    color: #fff;
    text-align: center;
    border-radius: 12px;
    padding: 10px;
    /*padding: 16px;*/
    position: fixed;
    z-index: 1;
    right: 20px;
    bottom: 30px;
    height: 50px;
    font-size: 17px;
    top: 57px;
    /*top: unset;*/
}
#snackbarError {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #d60e22;
    color: #fff;
    text-align: center;
    border-radius: 12px;
    padding: 10px;
    position: fixed;
    z-index: 2;
    right: 20px;
    bottom: 30px;
    height: 50px;
    font-size: 17px;
    top: 57px;
}
#snackbar.show {
    visibility: visible;
    /* -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s; */
}
#snackbarError.show {
    visibility: visible;
    /* -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s; */
}
/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    #snackbar {
        top: 115px!important;
    }
    .snackbarError{
        top:115px !important;
    }
}
