.update_profile{
    color:#02b875 !important;
    border-bottom: 2px solid #02b875;
}
/*check box field style*/

ul.ks-cboxtags {
    list-style: none;
    padding: 0;
}

ul.ks-cboxtags li {
    display: inline;
    height: 23px;
}

ul.ks-cboxtags li label {
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* -webkit-tap-highlight-color: transparent; */
    color: #383760;
    font-size: 16px;
    line-height: 16px;
}

ul.ks-cboxtags li label {
    padding: 17px 12px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    height: 23px;
    margin: 0 12px 17px 0px;
    background-color: #ebebef;
    border: none;
}



ul.ks-cboxtags li input[type="checkbox"] {
    display: absolute;
}

ul.ks-cboxtags li input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

.features-box {
    /*background-color: #fff;*/
    /*box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);*/
    /*margin: 25px 0;*/
    /*border-radius: 20px;*/
    padding: 25px 30px 10px 30px;
}

ul.ks-cboxtags {
    margin: 0;
}

[type="checkbox"].filled-in:checked + span:not(.lever)::after {
    border: #02b875!important;
    background-color: #02b875!important;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label{
    background-color:#02b875 !important;
    color:white;
}
.collapsible-header.features_tAgs {
    box-shadow: 0px 0px 3px 0px #00000017 !important;
    background-color: #f9f9f9 !important;
    display: flex;
    cursor: pointer;
    line-height: 1.5;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

.artist_update {
    float: right;
    border-color: #02b875 !important;
    background-color: #1f1f25 !important;
    color: white !important;
    text-align: center !important;
    padding: 10px 1.5rem 10px 1.5rem !important;
    white-space: nowrap !important;
    vertical-align: middle !important;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3) !important;
    border-radius: 500px !important;
}
.artist_update:hover, .artist_update:focus{
    color: rgba(255, 255, 255, 0.87) !important;
    background-color: #02b875 !important;
    box-shadow: 0 10px 20px rgba(55, 206, 23, 0.72) !important;
}
